
html,body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
a , a:hover , a:link, nav a {
    text-decoration: none;
    color:black;
}
nav a:hover{
 cursor: pointer;
}
.main{
    margin:0;
    padding: 0;
    background: url("background.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height:100vh;
    width:100vw;
    position: relative;
}
.hacktoberfest 
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
}
.contributors{
    background: url("contributors.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.footer{
    color:white;
    background: black;
    font-size: 20px;
}

.footer-heading{
    font-size: 30px;
}

.footer-icon{
    font-size: 50px;
}

.footer-icon-name{
    font-size: 20px;
}

.nav-head{
    font-size: 27.5px;
    font-weight: 700;
}

.small-footer-icons {
    max-width: 400px;
}

